contriever_fb_relation/freebase_contriever_index/index
/result

/data
data/fb_roles
data/fn_index_10000.pkl
data/surface_map_file_freebase_complete_all_mention
data/surface_map_file_freebase_complete_all_mention_top1000
data/surface_map_file_freebase_complete_all_mention_top10000
data/GrailQA/fb_roles
result/grailqa_dev_1000_chatgpt_20231128_2top_2_2_5examples_expression_result.json
result/grailqa_dev_1000_chatgpt_20231128_3hop_2_2_2_5examples_expression_result.json
result/grailqa_dev_1000_chatgpt_20231129_5lfs_5examples_no_count_expression_result.json
result/grailqa_dev_expresion_dev_1000_beam_search_20231205_2hop_top_4_10examples_new_rank_test_ori_llama.json
result/grailqa_dev_expression_chatgpt_dev_1000_20231129_5lfs_5examples_no_count_with_true.json
result/grailqa_dev_expression_chatgpt_dev_1000_beam_search_20231129_3hop_2_2_2_5examples_no_count.json
result/grailqa_dev_expression_chatgpt_dev_1000_beam_search_20231201_3hop_top_6_5examples_new_rank.json
result/grailqa_dev_expression_chatgpt_dev_1000_beam_search_20231201_3hop_top_6_5examples.json
result/grailqa_dev_expression_chatgpt_dev_1000_beam_search_20231205_2hop_top_4_10examples_new_rank.json
result/grailqa_dev_expression_chatgpt_dev_1000_beam_search_20231213_2hop_top_4_10examples_new_rank_chatgpt_prompt_merged.json
result/grailqa_dev_expression_chatgpt_dev_1000_beam_search_20231213_2hop_top_4_10examples_new_rank_chatgpt_prompt.json
result/grailqa_dev_expression_dev_1000_beam_search_20231129_5lfs_5examples_no_count.json
result/grailqa_dev_expression_dev_1000_llama2_20231127_5lfs_5examples.json
result/grailqa_dev_expression_dev_1000_llama2_beam_search_20231127_2hop_2_2_5examples.json
result/grailqa_dev_expression_dev_1000_llama2_beam_search_20231128_2hop_2_2_5examples.json
result/grailqa_dev_expression_dev_1000_llama2_beam_search_20231128_3hop_2_2_2_5examples.json
result/grailqa_dev_expression_llama2_dev_1000_20231129_5lfs_5examples_no_count_with_true.json
result/grailqa_dev_expression_llama2_dev_1000_20231211_original_prompt.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231129_3hop_2_2_2_5examples_no_count.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231130_2hop_2_2_10examples_no_count.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231130_2hop_2_2_10examples.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231201_3hop_top_6_5examples_new_rank_specify_prompt.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231201_3hop_top_6_5examples_new_rank.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231201_3hop_top_6_5examples.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231204_2hop_top_4_5examples_new_rank_specify_prompt.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231204_2hop_top_4_5examples_new_rank_use_titra.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231204_2hop_top_4_5examples_new_rank.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231205_2hop_top_4_10examples_new_rank_specify_prompt.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231205_2hop_top_4_10examples_new_rank_test_ori_full_llama.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231205_2hop_top_4_10examples_new_rank_test_ori_llama.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231205_2hop_top_4_10examples_new_rank.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231207_2hop_top_6_10examples_new_rank_specify_prompt_merged_with_1
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231207_2hop_top_6_10examples_new_rank_specify_prompt_merged_with_1_all.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231207_2hop_top_6_10examples_new_rank_specify_prompt_merged_with_1.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231207_2hop_top_6_10examples_new_rank_specify_prompt_merged.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231207_2hop_top_6_10examples_new_rank_specify_prompt.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231208_2hop_top_6_5examples_new_rank_specify_prompt.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231211_2hop_top_4_5examples_new_rank_specify_prompt_simcse_merged_new_1.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231211_2hop_top_4_5examples_new_rank_specify_prompt_simcse_merged_new.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231211_2hop_top_4_5examples_new_rank_specify_prompt_simcse_merged.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231211_2hop_top_4_5examples_new_rank_specify_prompt_simcse.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231211_2hop_top_4_10examples_new_rank_specify_prompt_merged.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231211_2hop_top_4_10examples_new_rank_specify_prompt:q
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231211_2hop_top_4_10examples_new_rank_specify_prompt.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231213_2hop_top_4_10examples_new_rank_specify_prompt_simcse_merged.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231215_3hop_top_10_5examples_new_rank_specify_prompt_simcse_merged.json
result/grailqa_dev_expression_llama2_dev_1000_beam_search_20231215_3hop_top_10_5examples_new_rank_specify_prompt_simcse.json
result/grailqa_dev_expression_llama2_dev_1000_llama2_original.json
result/grailqa_dev_expression_result_llama2_v1_copy.json
result/grailqa_dev_expression_result_llama2_v1.json
data/GrailQA/grailqa_dev_expression_llama2_dev_1000_20231211_original_prompt.json
